<launch>
  <!-- <param name="/use_sim_time" value="true" /> -->
  <arg name="rviz" default="true" />

  <node pkg="II_NVM" type="II_NVM" name="II_NVM" output="screen" required="true" 
    args= "-config_directory $(find II_NVM)/config">
  </node>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="lio" args="-d $(find II_NVM)/launch/II_NVM.rviz" />
  </group>

</launch>
